/* bg: #fcf9ea;
ligth-green: #badfdb;
dark-green: #49beb7; */
body {
  font-family: 'Chilanka', cursive !important;
  color: #584b42 !important;
}

.text-slanted {
  font-family: 'Alice', serif;
}

.text-orange {
  color: #ff8a5c;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}
